<template>
 <div>
    <div class="about">
      <b-container class="mt-4">
        <b-row>
          <b-col md='12'>
            <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
          </b-alert>
            <!-- </alert-bootstrap -->

            <!-- < modalUpdate > -->
              <template>
                <div>
                  <b-modal ref="my-modal2" hide-footer :title="title" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                    <div class="d-block text-center">
                      <!-- <contentModal> -->

                      <!-- <form edit company> -->
                      <form @submit.prevent='updateCompany(companyEdit)' v-if="editar">
                        <!-- <h4 class="text-center"><b>Editar Empresa</b></h4> -->
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="text" v-model="companyEdit.nombre" class="form-control" placeholder="NOMBRE DE LA EMPRESA" >
                        </div><br>
                        <div class="form-group">
                          <label for="nit">Nit</label>
                          <input type="text" v-model="companyEdit.nit" class="form-control" placeholder="NIT DE LA EMPRESA" >
                        </div><br>
                        <div class="form-group">
                          <label for="celular">Celular</label>
                          <input type="text" v-model="companyEdit.celular" class="form-control" placeholder="CELULAR DE LA EMPRESA" >
                        </div><br>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" v-model="companyEdit.email" class="form-control" placeholder="EMAIL" >
                        </div><br>
                        <div class="form-group">
                          <label for="direccion">Dirección</label>
                          <input type="text" v-model="companyEdit.direccion" class="form-control" placeholder="DIRECCIÓN" >
                        </div><br>
                        <div class="form-group">
                          <label for="logo">Logo</label>
                          <input type="file" name='logo' ref="inputFile" id='file' @change="onSelect" class="form-control-file" placeholder="LOGO DE LA EMPRESA">
                        </div><br>
                        <br>
                        <div class="d-grid">
                          <button type="submit" class="btn btn-outline-primary btnEdit" @click="hideModal2()">
                            <div v-if="isLoading" class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                            Editar
                          </button>
                          <button type="submit" class="btn btn-outline-danger mx-2 btnCancel" @click="editar=false,hideModal2()">Cancelar</button>
                        </div>
                      </form>
                      <!-- </form edit company> -->
                      
                      <!-- </contentModal> -->
                    </div>
                    <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                  </b-modal>
                </div>
              </template>
              <!-- </modalUpdate> -->

            <!-- <MODAL BOOTSTRAP VUE  addCompany> -->
              <template>
                  <div>
                    <b-button variant="outline-primary" class='btnRegister' id="show-btn" @click="showModal" v-if="!editar">registrarEmpresa</b-button>
                    <b-modal ref="my-modal" hide-footer title='Registrar una empresa' class="example" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                      <div class="d-block text-center">
                        <!-- <ContentModal> -->
                          <form @submit.prevent="addCompany()" enctype="multipart/form-data" v-if="!editar">
                          <!-- <h4 class="text-center RegistrarCom"><b>Registrar una empresa</b></h4> -->
                          <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" v-model="company.nombre" class="form-control" placeholder="NOMBRE DE LA EMPRESA" >
                          </div><br>
                          <div class="form-group">
                            <label for="nit">Nit</label>
                            <input type="text" v-model="company.nit" class="form-control" placeholder="NIT DE LA EMPRESA" >
                          </div><br>
                          <div class="form-group">
                            <label for="celular">Celular</label>
                            <input type="text" v-model="company.celular" class="form-control" placeholder="CELULAR DE LA EMPRESA" >
                          </div><br>
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"  v-model="company.email" class="form-control" placeholder="EMAIL DE LA EMPRESA" >
                          </div><br>
                          <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="text" v-model="company.direccion" class="form-control" placeholder="DERECCIÓN DE LA EMPRESA" >
                          </div><br>
                          <div class="form-group">
                            <label for="logo">Logo</label>
                            <input type="file" name='logo' ref="inputFile" id='file' @change="onSelect" class="form-control-file" placeholder="LOGO DE LA EMPRESA" >
                          </div><br>
                      
                          <button class="btn btn-outline-primary btnRegisterS" type="submit" @click="hideModal">Registrar</button><br>
                        
                        </form>
                        <!-- </ContentModal> -->
                      </div>
                    </b-modal>
                  </div>
                </template>

              <!-- </MODAL BOOTSTRAP VUE> -->

              <hr>
          </b-col>
        </b-row>
        <b-row>
          <b-col md='4' v-for="company of companies" :key="company.id">
           <!-- <SHOW INFO USERS> -->
           <!-- cardStart-->
            <div class="card mb-3">
              <h5 class="text-center mt-2"><b>{{company.nombre}}</b></h5>
                <div class="card-body">
                  <h5 class="card-title"><b>Nit:</b> {{company.nit}}</h5>
                  <h5 class="card-title"><b>Celular:</b> {{company.celular}}</h5>
                  <h5 class="card-title"><b>Email:</b> {{company.email}}</h5>
                  <h5 class="card-text"><b>Dirección: </b>{{company.direccion}}</h5><br>
                  <div>
                    <img :src="`${company.logo}`" class="img-fluid"/>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-success" @click="showModal2(), activateEdition(company._id)"> 
                      <span class="material-icons">edit</span>
                        Actualizar
                    </button>
                    <button class="btn btn-danger mx-2"  @click="deleteCompany(company._id)">
                        <span class="material-icons">delete_forever</span>
                        Eliminar
                    </button>
                  </div>
                </div>
              </div>
            <!-- cardEnd -->
              <!-- </SHOW INFO USERS> -->
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'Company', 
  components:{
    Footer 
  },
  data(){
    return{
      companies:[],
      file:null,
      imagen:'',
      // <alert Bootstrap>
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      // </alert Bootstrap>
      company:{nombre:'',nit:'',celular:'',email:'',direccion:'',logo:''},
      editar:false,
      companyEdit:{},
      isLoading:false,
      title:'Editar empresa',

      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light',
    }
  },
  created(){
    this.listCompanies();
    // this.onSelect();
  },
  methods:{
    
    // onSelect 
    onSelect(event){
      // this.file = this.$refs.inputFile.files[0];
      this.file = event.target.files[0];
      this.imagen = this.file;
      // console.log(this.imagen);
    },
      addCompany(){
       
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      let formData = new FormData();
      formData.append("logo",this.imagen);
      formData.append("nombre",this.company.nombre);
      formData.append("nit",this.company.nit);
      

      this.axios.post('/empresa',formData,configuration)
        
        .then(res => {
          
          this.companies.unshift(res.data.empresa);

          console.log(res.data.empresa);

         this.company.nombre = '';
         this.company.nit = '';
         this.company.celular = '';
         this.company.email = '';
         this.company.direccion = '';
         this.company.logo='';

         // Alert bootstrap
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Empresa agregada :)';
         this.showAlert();
       })
       .catch(err => {
         console.log(`Error ${err}`);
          this.mensaje.color = 'danger';
          this.mensaje.texto = 'Datos requeridos';
          this.showAlert();
       })
     
    },
    listCompanies(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/empresa',configuration)
       .then(res=>{
        //  console.log(res.data.equipo); 
         this.companies = res.data.empresas;   

       })
       .catch(err => {
         console.log(`Err ${err}`);
       })
    },
    activateEdition(id){
        // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

        this.editar = true;
         window.scrollTo(0,0)
        // console.log(id);
        /*this.axios.get(`/empresa/${id}`) LOGO */
        this.axios.get(`/empresa/${id}`,configuration)
         .then(res=>{
           this.companyEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateCompany(empr){

      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      // empresa/logo/:id
      /* this.axios.put(`/empresa/${empr._id}`,empr)  UPDATE ORIGINAL */
     
      this.isLoading = true
      // var formData = new FormData();
      // formData.set("logo",this.imagen); 

      var formData = new FormData();
         
        formData.set("logo",this.imagen);
        formData.set("nombre",this.companyEdit.nombre);
        formData.set("nit",this.companyEdit.nit);
        formData.set("celular",this.companyEdit.celular);
        formData.set("email",this.companyEdit.email);
        formData.set("direccion",this.companyEdit.direccion);
     
     this.axios.put(`/empresa/logo/${empr._id}`,formData,configuration)
       .then(res=>{
         this.isLoading = false
         const index = this.companies.findIndex(e => e._id === res.data._id)
        //  console.log(index);
         this.companies[index].nombre = res.data.nombre;
         this.companies[index].nit = res.data.nit;
         this.companies[index].celular = res.data.celular;
         this.companies[index].email = res.data.email;
         this.companies[index].direccion = res.data.direccion;

         this.companies[index].logo = res.data.logo;
         
         // RETURN COMPANY UPDATED
         this.listCompanies();

         this.mensaje.color='success';
         this.mensaje.texto = 'Empresa Actualizado exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
       window.scrollTo(48,668);
    },
    deleteCompany(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.delete(`empresa/${id}`,configuration)
        .then(res=>{
          let index = this.companies.findIndex(item=>item._id === res.data._id)
          this.companies.splice(index,1);

          // RETURN COMPANY UPDATED
           this.listCompanies();

          this.mensaje.color='danger';
          this.mensaje.texto = 'Empresa eliminada...';
          this.showAlert();
        })
        .catch(err=>{
          console.log(`Error ${err}`);
        })
    },
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    // configModal
    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    showModal2() {
      this.$refs['my-modal2'].show()
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    hideModal2() {
      this.$refs['my-modal2'].hide()
    },
  }
}
</script>
<style scoped>
  /* .imageEquipment{
    width:130px;
    height:130px;
  } */
  .img-fluid{
    max-width: 100%;
    height: auto;
  }
  .RegistrarCom{
    font-family: 'Antonio', sans-serif;
  }
  .btnCancel, .btnEdit{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnRegister{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
  }
  .btnRegisterS{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
</style>