<template>
 <div>
    <div class="about">
      <b-container class="mt-4">
        <b-row>
          <b-col md='12'>
            <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismiessed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
            </b-alert>
            <!-- </alert-bootstrap -->
            <!-- <modalUpdate> -->
            <template>
              <div>
                <b-modal ref="my-modal2" hide-footer :title="title.text" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                  <div class="d-block text-center">
                    <!-- <contentModal> -->
                    <!-- <form edit equipment> -->
                    <form @submit.prevent='updateEquipment(equipmentEdit)' v-if="editar">
                      <!-- <h4 class="text-center"><b>Editar Equipos</b></h4> -->
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" v-model="equipmentEdit.nombre" class="form-control" placeholder="NOMBRE DEL EQUIPO" >
                      </div><br>
                      <div class="form-group">
                        <label for="numSerie">numSerie</label>
                        <input type="text" class="form-control" placeholder="NUMERO DE SERIE DEL EQUIPO" v-model="equipmentEdit.numSerie">
                      </div><br>
                      <div class="form-group">
                        <label for="estado">estado</label>
                        <select class="form-control" v-model="equipmentEdit.estado">
                          <option >Por favor seleccione el estado del equipo</option>
                          <option value="ACTIVO">ACTIVO</option>
                          <option value="INACTIVO">INACTIVO</option>
                        </select>
                      </div><br>
                      <div class="form-group">
                        <label for="fechaIngreso">fechaIngreso</label>
                        <input type="date" class="form-control" placeholder="FECHA EN LA QUE INGRESO EL EQUIPO A LA CUA" v-model="equipmentEdit.fechaIngreso">
                      </div><br>
                      <div class="form-group">
                        <label for="fechaEgreso">fechaEgreso</label>
                        <input type="date" class="form-control" placeholder="EL EQUIPO DEJO DE FUNCIONAR... POR FAVOR INGRESE LA FECHA" v-model="equipmentEdit.fechaEgreso">
                      </div><br>
                      <div class="form-group">
                        <label for="disponibilidad">disponibilidad</label>
                        <select class="form-control"  v-model="equipmentEdit.disponibilidad">
                          <option disabled>Por favor seleccione si el equipo esta disponible</option>
                          <option value='true'>true</option>
                          <option value='false'>false</option>
                        </select>
                      </div><br>
                      <div class="form-group">
                        <label for="logo">Image</label>
                        <input type="file" name='logo' ref="inputFile" id='file' @change="onSelect" class="form-control-file" placeholder="LOGO DE LA EMPRESA" >
                      </div><br>
                      
                      <div class="d-grid">
                        <button type="submit" class="btn btn-outline-primary btnEdit" @click="hideModal2()"> 
                          <div v-if="isLoading" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                          Editar
                          </button>
                        <button type="submit" class="btn btn-outline-danger mt-2 btnCancel" @click="editar=false,hideModal2()">Cancelar</button>
                      </div>

                    </form>
                    <!-- </form edit equipment> -->

                    <!-- </contentModal> -->
                  </div>
                  <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                </b-modal>
              </div>
            </template>
              <!-- </modalUpdate> -->
              <!-- <MODAL BOOTSTRAP VUE>   ADD EQUIPMENT-->
                <template>
                  <div>
                    <b-button variant="outline-primary" class='btnRegister' id="show-btn" @click="showModal" v-if="!editar">registrarEquipo</b-button>
                    <!-- <b-modal ref="my-modal" hide-footer title="Registrar un nuevo equipo"> -->
                    <b-modal ref="my-modal" hide-footer title='Registrar un nuevo equipo' class="example" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                      <div class="d-block text-center">
                        <form @submit.prevent="addEquipment()" enctype="multipart/form-data" v-if="!editar">
                          <div class="form-group">
                            <label for="nombre" >Nombre</label>
                            <input type="text" v-model="equipment.nombre" class="form-control" placeholder="NOMBRE DEL EQUIPO" >
                          </div><br>
                          <div class="form-group">
                            <label for="numSerie">numSerie</label>
                            <input type="text" class="form-control" placeholder="NUMERO DE SERIE DEL EQUIPO" v-model="equipment.numSerie">
                          </div><br>
                          <div class="form-group">
                            <label for="estado">estado</label>
                            <select class="form-control" v-model="equipment.estado">
                              <option disabled>Por favor seleccione el estado del equipo</option>
                              <option value="ACTIVO">ACTIVO</option>
                              <option value="INACTIVO">INACTIVO</option>
                            </select>
                          </div><br>
                          <div class="form-group">
                            <label for="fechaIngreso">fechaIngreso</label>
                            <input type="date" class="form-control" placeholder="FECHA EN LA QUE INGRESO EL EQUIPO A LA CUA" v-model="equipment.fechaIngreso">
                          </div><br>
                          <div class="form-group">
                            <label for="fechaEgreso">fechaEgreso</label>
                            <input type="date" class="form-control" placeholder="EL EQUIPO DEJO DE FUNCIONAR... POR FAVOR INGRESE LA FECHA" v-model="equipment.fechaEgreso">
                          </div><br>
                          <div class="form-group">
                            <label for="disponibilidad">disponibilidad</label>
                            <select class="form-control" v-model="equipment.disponibilidad">
                              <option disabled>Por favor seleccione si el equipo esta disponible</option>
                              <option value=true>true</option>
                              <option value=false>false</option>
                            </select>
                          </div><br>
                          <div class="form-group">
                            <label for="logo">Image</label>
                            <input type="file" name='logo' ref="inputFile" id='file' @change="onSelect" class="form-control-file" placeholder="LOGO DE LA EMPRESA" >
                          </div><br>

                            <button class="btn btn-outline-primary btn-block btnRegisterS" type="submit" @click="hideModal">Registrar</button><br>
                        </form>
                      </div>
                    </b-modal>
                  </div>
                </template>

              <!-- </MODAL BOOTSTRAP VUE> -->
              <br><br>
          </b-col>
        </b-row>

        <b-row>
          <b-col md='6' v-for="equipment of equipments" :key="equipment.id">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img 
                   :src="`${equipment.image}`" 
                   class="mx-2 card-img" 
                   alt="image equipment"
                   >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-center"><b>{{equipment.nombre}}</b></h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>numSerie</b>: {{equipment.numSerie}}</li>
                    <li class="list-group-item"><b>Estado</b>: {{equipment.estado}}</li>
                    <li class="list-group-item"><b>FechaIngreso</b>: {{equipment.fechaIngreso}}</li>
                    <!-- <li class="list-group-item"><b>FechaEgreso</b>: {{equipment.fechaEgreso}}</li> -->
                    <li class="list-group-item" v-if="equipment.fechaIngreso==null"><b>FechaEgreso</b>: {{equipment.fechaEgreso}}</li>
                    <li class="list-group-item"><b>Disponibilidad</b>: 
                      <p>
                        {{
                          equipment.estado == 'ACTIVO' 
                          ? (equipment.disponibilidad) 
                          : equipment.disponibilidad
                        }}
                      </p>
                    </li>
                  </ul>
                  <div class="card-body">
                    <button class="btn btn-success btn-block" @click="showModal2(),activateEdition(equipment._id)">
                      <span class="material-icons">edit</span>
                      Actualizar
                    </button>
                    <button class="btn btn-danger btn-block" @click="deleteEquipment(equipment._id)">
                      <span class="material-icons">delete_forever</span>
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </b-col>
          <b-col md='4'>
           
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'Equipment', 
  components:{
    Footer 
  },
  data(){
    return{
      equipments:[],
      file:null,
      imagen:'',
      // <alert Bootstrap>
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      // </alert Bootstrap>
      equipment:{nombre:'',numSerie:'',estado:'',fechaIngreso:'',fechaEgreso:'',disponibilidad:''},
      editar:false,
      equipmentEdit:{},
      isLoading:false,
      dataDismiss:null,
      title:{text:'Editar equipo'},

      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light',
    }
  },
  created(){
    this.listEquipments()
  },
  methods:{
    listEquipments(){
      
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/equipos',configuration)
       .then(res=>{
        //  console.log(res.data.equipo); 
         this.equipments = res.data.equipos;   
       })
       .catch(err => {
         console.log(`Err ${err}`);
       })
    },
     onSelect(event){
      // this.file = this.$refs.inputFile.files[0];
      this.file = event.target.files[0];
      this.imagen = this.file;
    },
    addEquipment(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      // Para guardar la imagen con los demas campos del modelo, hay que pasarselos al append
      var formData = new FormData();
      formData.append("image",this.imagen);
      formData.append("nombre",this.equipment.nombre);
      formData.append("numSerie",this.equipment.numSerie);
      formData.append("estado",this.equipment.estado);
      formData.append("fechaIngreso",this.equipment.fechaIngreso);
      formData.append("fechaEgreso",this.equipment.fechaEgreso);
      formData.append("disponibilidad",this.equipment.disponibilidad);
      
      this.axios.post('/equipo',formData,configuration/* this.equipment */)
       .then(res => {
         console.log(res.data.equipo);

         this.equipments.unshift(res.data.equipo);
         this.equipment.nombre = '';
         this.equipment.numSerie = '';
         this.equipment.estado = '';
         this.equipment.fechaIngreso = '';
         this.equipment.fechaEgreso = '';
         this.equipment.disponibilidad = '';
         this.equipment.image = '';

         // Alert bootstrap
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Equipo agregado :)';
         this.showAlert();
       })
       .catch(err => {
         console.log(`Error ${err}`);
          this.mensaje.color = 'danger';
          this.mensaje.texto = 'Datos requeridos';
          this.showAlert();
       })
    },
    activateEdition(id){
        // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

        this.editar = true;
        // console.log(id);
        window.scrollTo(0,0)
        this.axios.get(`/equipo/${id}`,configuration)
         .then(res=>{
           this.equipmentEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateEquipment(equip){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.isLoading = true
       
      const formData = new FormData();
      formData.set('image',this.imagen);
      formData.set('nombre',this.equipmentEdit.nombre);
      formData.set('numSerie',this.equipmentEdit.numSerie);
      formData.set('estado',this.equipmentEdit.estado);
      formData.set('fechaIngreso',this.equipmentEdit.fechaIngreso);
      formData.set('fechaEgreso',this.equipmentEdit.fechaEgreso);
      formData.set('disponibilidad',this.equipmentEdit.disponibilidad);


      // ORIGINAL this.axios.put(`/equipo/${equip._id}`,equip)
      this.axios.put(`/equipo/image/${equip._id}`,formData,configuration)
       .then(res=>{
        
         this.isLoading = false
         const index = this.equipments.findIndex(e => e._id === res.data._id)
         this.equipments[index].nombre = res.data.nombre;
         this.equipments[index].numSerie = res.data.numSerie;
         this.equipments[index].estado = res.data.estado;
         this.equipments[index].fechaIngreso = res.data.fechaIngreso;
         this.equipments[index].fechaEgreso = res.data.fechaEgreso;
         this.equipments[index].disponibilidad = res.data.disponibilidad;
         this.equipments[index].image = res.data.image;

         // RETURN EQUIPMENT UPDATED
         this.listEquipments();
          window.scrollTo(1000, 1000); 
         this.mensaje.color='success';
         this.mensaje.texto = 'Equipo Actualizado exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
    },
    deleteEquipment(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.delete(`equipo/${id}`,configuration)
        .then(res=>{
          let index = this.equipments.findIndex(item=>item._id === res.data._id)
          this.equipments.splice(index,1);
          // <RETURN EQUIPMENTS> 
          this.listEquipments()
          // </RETURN EQUIPMENTS>
          this.mensaje.color='danger';
          this.mensaje.texto = 'Equipo eliminado...';
          this.showAlert();
        })
        .catch(err=>{
          console.log(`Error ${err}`);
        })
    },
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },

    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    
    hideModal() {
      this.$refs['my-modal'].hide()
    },

    showModal2() {
      this.$refs['my-modal2'].show()
    },
    hideModal2() {
      this.$refs['my-modal2'].hide()
    },
  }
}
</script>
<style scoped>
  .imageEquipment{
    width:130px;
    height:130px;
  }
  .newEquipment{
    font-family: 'Antonio', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
  }
  .inputName{
    font-family: 'Antonio', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight:bold;
  }
  .example{
    background-color:red;
    color:darkblue
  }
  .doku{
  background-color: red;

  }
  .btnRegister{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    /* border-radius:30px; */
  }
  .btnRegisterS{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnEdit,.btnCancel{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
</style>