<template>
 <div>
   <div class="home">
     <b-container class="mt-4 text-center">
       <b-row>
         <b-col md='6'>
           <!-- <img src="@/assets/banner-cua.png" alt="banner-cua" class="img-fluid"> -->

           <!-- carousel de prueba estas imagenes no tienen nada que ver con el proyecto-->
           <carousel :autoplay="true" :nav="false">
              <img src="https://picsum.photos/200/300?1018">

              <img src="https://picsum.photos/200/300?20">

              <img src="https://picsum.photos/200/300?12">

              <img src="https://picsum.photos/200/300?18">

            </carousel>
         </b-col>
         <b-col md='6'>
           <h4 class="text-center  loanDevice animate__animated  animate__bounce"><strong>S.I.G.P.E</strong></h4>
           <p class='text-description'>Sistema informatico para la gestión y prestamo de equipos tecnologicos
             en la Corporación Universitaria Americana sede Montería 
           </p>
         </b-col>
       </b-row>
     </b-container>
   </div>
   <Footer/>
 </div>
</template>

<script>
/*@ is an alias to /src*/
/*import HelloWorld from '@/components/HelloWorld.vue'*/
import Footer from '@/components/Footer.vue'
import carousel from 'vue-owl-carousel'

export default {
  name: 'Home',
  components: {
    // HelloWorld
    Footer,
    carousel
  },
  data(){
    return{
      imageWelcome:'https://res.cloudinary.com/dqhme1rod/image/upload/v1626107257/americana/jyprzqh106bw7noiacul.svg'
    }
  }
}
</script>

<style scoped>
  .imgWelcome{
    /* width:80%;
    height:90%; */
    max-width: 100%;
    height: auto;
  }
  .messageWelcome{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
    color:darkblue;
  }
  .text-description{
    font-family: 'Lobster', cursive;
    font-family: 'Public Sans', sans-serif;
  }
  .text-test{
    font-family: 'Oswald', sans-serif;
  }
</style>
