<template>
  <div>
     <div class="mt-4 container-fluid login">
       <div class="row">
         <div class="col-md-4">
         </div>  
         <div class="col-md-4">
            <!-- <h5 class="text-center"><strong>SIGPE</strong></h5>
            <h5 class="text-center">Sistema para la gestión y prestamo de equipos tecnologicos CUA</h5> -->
            <h4 class="mt-4 text-center title-login">Inicia sesión en tu cuenta</h4>
         </div>  
       </div>

       <!-- <div class="saltoLinea"></div> -->
       <div class="mt-2 row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <div class="card card-login">
              <!-- <h4 class="mt-4 text-center title-login">Inicia sesión en tu cuenta</h4> -->
              <div class="card-body">
                  <form @submit.prevent='logIn()'>
                      <div class="form-group">
                          <label for="email"><strong>Correo</strong></label>
                          <input type="email" class="mt-2 form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo" required v-model="email">
                      </div>
                      <div class="mt-2 form-group">
                          <label for="password"><strong>Contraseña</strong></label>
                          <input :type='changeInput' class="mt-2 form-control" id="exampleInputPassword1" placeholder="contraseña" required v-model="password">
                      </div>
                      <!-- <Error login> -->
                      <div v-if="messageError">
                          <p class="mt-2 text-danger">{{messageError}}</p>
                      </div>
                      <!-- </Error login> -->
                      <!-- startButton -->
                      <input type="checkbox" class="mt-3 text-center" @click="changeValueInput()"> Mostrar contraseña  

                      <button type="submit" class="mt-2 btn btn-primary btn-block" style="border-radius:20px">
                        Iniciar sesion
                      </button>
                      <p class="mt-2 forgot-password text-right">
                        <router-link to="/recover-password">Olvidaste la contraseña? </router-link>  
                      </p>  
                      <!-- endButton -->
              </form>
              </div>
            </div>
         </div>
       </div>
     </div><br><br><br><br>
    <Footer/>
     <router-view />
  </div>
</template>
<script>
import Footer from '../components/Footer.vue'
export default {
   name:'Login',
   components:{
     Footer 
   },
   data(){
    return{
     email:'neider86@protonmail.com',
     correoP:'',
     password:'123456',
     messageError:null,
     changeInput:'password',
     isLoading:false
    }
   },
   
   methods:{
     changeValueInput(){
       if(this.changeInput == 'password'){
         this.changeInput ='text' 
       }else{
         this.changeInput='password'
       }
       
     },
     logIn(){
      this.axios.post('/login',{correo:this.email, password:this.password})
      .then(res => {
        //  console.log(res.data.user);
        //  console.log(res.data.tokenReturn);  
        return res.data; 
      })
      .then(data=>{
        // Para acceder a una acción del store usamos dispatch
        this.$store.dispatch("saveToken",data.tokenReturn);
        this.$router.push({name:'Home'});

      })
      .catch(err => {
        //  console.log(err);
        this.messageError = null;
        if(err.response.status == 404){
          this.messageError = 'No existe el usuario o las credenciales son incorrectas';
        }else{
          this.messageError = "Ocurrió un error en el servidor"
        }
      }); 
    },
   } 
}
</script>

<style scoped>
 .title-login{
    color:#022e5a;
    font-weight: bold;
 }
 .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
 }
 .card-login:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
</style>