<template>
 <div>
    <div class="about">
      <b-container class="mt-4">
        <b-row>
          <b-col md='12'>
              <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
            </b-alert>
              <!-- </alert-bootstrap -->

              <!-- <modalUpdate> -->
              <template>
                <div>
                  <b-modal ref="my-modal2" hide-footer :title="title" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                    <div class="d-block text-center">
                      <!-- <form edit Manager> -->
                      <form @submit.prevent='updateManager(managerEdit)' v-if="editar">
                        <!-- <h4 class="text-center"><b>Editar Encargado</b></h4> -->
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="text" v-model="managerEdit.nombre" class="form-control" placeholder="NOMBRE DEL ENCARGADO" >
                        </div><br>
                        <div class="form-group">
                          <label for="nit">Apellido</label>
                          <input type="text" v-model="managerEdit.apellido" class="form-control" placeholder="APELLIDO DEL ENCARGADO" >
                        </div><br>
                        <div class="form-group">
                          <label for="celular">Celular</label>
                          <input type="text" v-model="managerEdit.celular" class="form-control" placeholder="CELULAR DEL ENCARGADO" >
                        </div><br>
                        <div class="form-group">
                          <label for="cedula">Cedula</label>
                          <input type="text" v-model="managerEdit.cedula" class="form-control" placeholder="CEDULA" >
                        </div><br>

                        <br>
                        <!-- btn -->
                        <div class="d-grid">
                          <button type="submit" class="btn btn-outline-primary btnEdit " @click="hideModal2()"> Editar</button>
                          <button type="submit" class="btn btn-outline-danger mx-2 btnCancel" @click="editar=false,hideModal2()">Cancelar</button>
                        </div>
                        <!-- btn -->

                      </form><br><br>
                      <!-- </form edit manager> -->
                      <!-- </contentModal> -->
                    </div>
                    <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                  </b-modal>
                </div>
              </template>
              <!-- </modalUpdate> -->  

              <!-- <MODAL BOOTSTRAP VUE  addManager> -->  
              <template>
                  <div>
                    <b-button variant="outline-primary" class="btnRegister" id="show-btn" @click="showModal" v-if="!editar">registrarEncargado</b-button>
                    <b-modal ref="my-modal" hide-footer title='Registrar un encargado' class="example" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                      <div class="d-block text-center">
                        <!-- <ContentModal> -->
                        <form @submit.prevent="addManager()" v-if="!editar">
                          <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" v-model="manager.nombre" class="form-control" placeholder="NOMBRE" >
                          </div><br>
                          <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" v-model="manager.apellido" class="form-control" placeholder="APELLIDO" >
                          </div><br>
                          <div class="form-group">
                            <label for="celular">Celular</label>
                            <input type="text" v-model="manager.celular" class="form-control" placeholder="CELULAR" >
                          </div><br>
                          <div class="form-group">
                            <label for="cedula">Cedula</label>
                            <input type="text" v-model="manager.cedula" class="form-control" placeholder="CEDULA">
                          </div><br>
                          <!-- btn -->
                            <div class="d-grid">
                              <button type="submit" class="btn btn-outline-primary btnSave"  @click="hideModal()">Guardar</button>
                            </div>
                          <!-- btn -->
                        </form>
                        <!-- </ContentModal> -->
                      </div>
                    </b-modal>
                  </div>
                </template>

              <!-- </MODAL BOOTSTRAP VUE  addManager> --> 
          </b-col>
        </b-row>

        <b-row class="mt-4">
          <b-col md='4' v-for="manager of managers" :key="manager.id">
            <div class="card">
              <div class="card-body">
                <h5 class="cart-title"><b>Nombre</b>: {{manager.nombre}}</h5>
                <h5 class="cart-title"><b>Apellido</b>: {{manager.apellido}}</h5>
                <h5 class="cart-title"><b>Celular</b>: {{manager.celular}}</h5>
                <h5 class="cart-title"><b>Cedula</b>: {{manager.cedula}}</h5>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-success" @click="showModal2(),activateEdition(manager._id)"> 
                  <span class="material-icons">edit</span>
                 Actualizar
                </button>
                <button class="btn btn-outline-danger mt-2 my-3 mx-2"  @click="deleteManager(manager._id)">
                 <span class="material-icons">delete_forever</span>
                  Eliminar
                </button>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'Company', 
  components:{
    Footer 
  },
  data(){
    return{
      managers:[],
      // <alert Bootstrap>
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      // </alert Bootstrap>
      manager:{nombre:'',apellido:'',celular:'',cedula:''},
      editar:false,
      managerEdit:{},
      state:null,
      title:'Editar Encargado',

      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light',
    }
  },
  created(){
    this.listManagers()
  },
  methods:{
    listManagers(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/encargados',configuration)
       .then(res=>{
        //  console.log(res.data.equipo); 
         this.managers = res.data.encargados;   
        //  console.log(this.managers.estado)
       })
       .catch(err => {
         console.log(`Err ${err}`);
       })
    },
    addManager(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.post('/encargado',this.manager,configuration)
       .then(res => {
         console.log(res.data.encargado);

         this.managers.unshift(res.data.encargado);
         this.manager.nombre = '';
         this.manager.apellido = '';
         this.manager.celular = '';
         this.manager.cedula = '';

         // Alert bootstrap
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Encargado agregado :)';
         this.showAlert();
       })
       .catch(err => {
         console.log(`Error ${err}`);
          this.mensaje.color = 'danger';
          this.mensaje.texto = 'Datos requeridos';
          this.showAlert();
       })
     
    },
    activateEdition(id){
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

        this.editar = true;
        // console.log(id);
        window.scrollTo(0,0);
        this.axios.get(`/encargado/${id}`,configuration)
         .then(res=>{
           this.managerEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateManager(enc){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.put(`/encargado/${enc._id}`,enc,configuration)
       .then(res=>{
         const index = this.managers.findIndex(e => e._id === res.data._id)
         this.managers[index].nombre = res.data.nombre;
         this.managers[index].apellido = res.data.apellido;
         this.managers[index].celular = res.data.celular;
         this.managers[index].cedula = res.data.cedula;

           // RETURN EQUIPMENT UPDATED
         this.listManagers();
         window.scrollTo(1000, 1000); 

         this.mensaje.color='success';
         this.mensaje.texto = 'Encargado Actualizado exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
      window.scrollTo(48,668)
    },
    deleteManager(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.delete(`encargado/${id}`,configuration)
        .then(res=>{
          let index = this.managers.findIndex(item=>item._id === res.data._id)
          this.managers.splice(index,1);

          // RETURN MANAGERS UPDATED
           this.listManagers();

          this.mensaje.color='danger';
          this.mensaje.texto = 'Encargado eliminado...';
          this.showAlert();
        })
        .catch(err=>{
          console.log(`Error ${err}`);
        })
    },
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    showModal2(){
      this.$refs['my-modal2'].show()
    },
    hideModal2(){
      this.$refs['my-modal2'].hide()
    }
  }
}
</script>
<style scoped>
  .imageEquipment{
    width:130px;
    height:130px;
  }
  .btnEdit,.btnCancel{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnSave{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  .btnRegister{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
  }
</style>