<template >
 <div >
    <div class="password">
      <div class="container">
        <div class="row mt-4" style="background-color:rgb(201, 237, 230);padding:50px">
          <div class="col-md-12">
            <h2 class="text-center"><strong>Restablecer contraseña</strong></h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <p style="font-size:16px">
                Revise su correo <br>
                Si no recibio un enlace para restablecer su contraseña por favor
                verifique que el email que ingreso sea valido.
            </p>
          </div>
        </div>
      </div>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'MessageReset', 
  components:{
    Footer 
  },
  data(){
    return{
      
    }
  },
  created(){
    
  },
  methods:{
   
 }
}

</script>
<style scoped>
 
</style>