<template >
 <div >
    <div class="password">
      <div class="container">
        <b-alert
           class="mt-4"
            :show="dismissCountDown"
            dismissible
            :variant="message.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
          >
            {{message.texto}}
        </b-alert>
        <div class="row mt-4">
          <div class="col-md-7">
            <h3>¡Haz parte de la Familia Americana!</h3>
            <p style="font-size:18px">
              En la Americana entendemos que la educación con calidad se construye,
              por eso nuestros docentes y funcionarios están altamente capacitados
              para recibirte y convertirte en un gran profesional.
            </p>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body"> 
                 <!-- <h4>Aqui va el formulario</h4>   -->
                  <h3>Restablecer contraseña</h3>
                  <form @submit.prevent="newPassword">   
                  <div class="form-group">
                    <label for="exampleInputEmail1"><strong>Contraseña</strong></label>
                    <input type="password" class="mt-2 form-control"  placeholder="password" required v-model="reset.password">
                  </div>  
                  <div class="form-group">
                    <label for="exampleInputEmail1"><strong>Confirmar contraseña</strong></label>
                    <input type="password" class="mt-2 form-control"  placeholder="confirmar contraseña" required v-model="reset.passConfirm">
                  </div>
                  <!-- <p style="color:red">{{message}}</p>  -->
                  <button class="mt-2 btn btn-primary btn-block" type="submit">Enviar</button>
                  </form> 
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div> <br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'Reset', 
  components:{
    Footer 
  },
  data(){
    return {
      dataPass: [],
      reset: { password: '',passConfirm:''},
      message: {color: 'success', texto: ''},
      dismissSecs: 2,
      dismissCountDown: 0
    }
  },
  created(){
    
  },
  methods:{
    newPassword(){
      this.reset.password!= this.reset.passConfirm 
      ? (this.showAlert(),
        this.message.texto = 'Las constraseñas no son iguales!',
        this.message.color = 'danger')
      : this.axios.post(`/password-reset/${this.$route.params.userId}/${this.$route.params.token}`,this.reset)
      .then((res)=>{
        // Execute alert bootstrap vue
        this.showAlert();
        this.message.texto = res.data.message
        this.message.color = 'success';
        setTimeout(()=>{
          this.$router.push({name: 'Login'})
        },3000);
      })
      .catch(err=>{
        console.log(err);
      })
  },
  //ALERT BOOTSTRAP VUE 
  countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
  },
  showAlert() {
    this.dismissCountDown = this.dismissSecs
  }
 }
}

</script>
<style scoped>
 
</style>