<template>
 <div>
    <div class="about">
      <b-container class="mt-4">
        <b-row>
          <b-col md='12' class="mt-4">
            <!-- <alert-bootstrap -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              :variant="mensaje.color"
              @dismiessed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
            {{mensaje.texto}} 
            </b-alert>
              <!-- </alert-bootstrap -->
            <!-- <modalUpdate> -->
              <template>
                <div>
                  <b-modal ref="my-modal2" hide-footer :title="title" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                    <div class="d-block text-center">
                      <!-- <form edit user> -->
                      <form @submit.prevent='updateUser(usuarioEdit)'  v-if="editar"> 
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="text" v-model="usuarioEdit.nombre" class="form-control" placeholder="NOMBRE DEL USUARIO" >
                        </div><br>
                        <div class="form-group">
                          <label for="apellido">Apellido</label>
                          <input type="text" v-model="usuarioEdit.apellido" class="form-control" placeholder="APELLIDO DEL USUARIO" >
                        </div><br>
                        <br><br><br>
                        <div class="d-grid">
                          <button type="submit" class="btn btn-outline-primary btnEdit" @click="hideModal2()"> Editar</button>
                          <button type="submit" class="btn btn-outline-danger mt-2 mx-2 btnCancel" @click="editar=false,hideModal2()">Cancelar</button>
                        </div>
                      </form>
                      <!-- </form edit area> -->
                      <!-- </contentModal> -->
                    </div>
                    <b-button class="mt-3" variant="outline-danger" block @click="hideModal2()" v-if="!editar">Close Me</b-button>
                  </b-modal>
                </div>
              </template>
              <!-- </modalUpdate> -->

                <!-- <MODAL BOOTSTRAP VUE  addUser> -->  
              <template>
                  <div>
                    <b-button variant="outline-primary" class='btnRegister ' id="show-btn" @click="showModal" v-if="!editar">registrarEmpleado</b-button>
                    <b-modal ref="my-modal" hide-footer title='Registrar un empleado' class="example" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant">
                      <div class="d-block text-center">
                        <!-- <ContentModal> -->
                          <form @submit.prevent="addUser()" enctype="multipart/form-data" v-if="!editar">
                            <!-- <h4 class="text-center"><b>Registrar un usuario</b></h4> -->
                            <div class="form-group">
                              <label for="nombre">Nombre</label>
                              <input type="text" v-model="usuario.nombre" class="form-control" placeholder="NOMBRE" >
                            </div><br>
                            <div class="form-group">
                              <label for="apellido">Apellido</label>
                              <input type="text" v-model="usuario.apellido" class="form-control" placeholder="APELLIDO" >
                            </div><br>
                            <div class="form-group">
                              <label for="nombreUsuario">Nombre Usuario</label>
                              <input type="text" v-model="usuario.nombreUsuario" class="form-control" placeholder="NOMBRE USUARIO" >
                            </div><br>
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="text" v-model="usuario.correo" class="form-control" placeholder="EMAIL" >
                            </div><br>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" v-model="usuario.password" class="form-control" placeholder="PASSWORD" >
                            </div><br>
                            <div class="form-group">
                              <label for="role">Role</label>
                              <input type="text" v-model="usuario.role" class="form-control" placeholder="ROLES VALIDOS: USER O ADMIN" >
                            </div><br>
                            <div class="form-group">
                              <label for="DNI">DNI</label>
                              <input type="text" v-model="usuario.cedula" class="form-control" placeholder="CEDULA" >
                            </div><br>
                            <div class="form-group">
                            <!-- <label for="logo">Image</label> -->
                            <input type="file" name='logo' ref="inputFile" id='file' @change="onSelect" class="form-control-file" placeholder="USER PHOTO" >
                          </div><br>
                            <br>
                          <button class="btn btn-outline-primary btn-block btnRegisterS" type="submit" @click="hideModal">Registrar</button><br>
                          </form>  
                        <!-- </ContentModal> -->
                      </div>
                    </b-modal>
                  </div>
                </template>

              <!-- </MODAL BOOTSTRAP VUE  addUser> --> 

          </b-col>
        </b-row>
        
        <b-row>
          <b-col md='4' v-for="(user , index) of users" :key="index">
            <div class="card my-2">
              <!-- <div class="card-header">
                <h3 class="text-center">Empleados</h3>
              </div> -->
              <div class="card-body">
                <h5 class="card-title"><b>Nombre: {{user.nombre}} {{user.apellido}}</b></h5>
                <!-- <h5 class="card-title"><b>Nombre:</b></h5> -->
                <h5 class="card-title"><b>Rol: {{user.role}}</b></h5>
                <h6 class="card-title">
                  <img :src="`${user.image}`" class="img-fluid"/>
                </h6>
                <br>
              </div><br>
              <div class="modal-footer">
                <button class="btn btn-success" @click="showModal2(),activateEdition(user._id)">Actualizar</button>
                <button class="btn btn-danger mt-2 mx-2 my-2" @click="deleteUser(user._id)">Eliminar</button>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div> <br><br><br><br><br><br>
    <Footer/>
 </div> 
</template>

<script>
import Footer from '@/components/Footer.vue'
export default {
  name: 'User', 
  components:{
    Footer 
  },
  data(){
    return{
      title:'Editar Empleado',
      users:[],

      file:null,
      imagen:'',
      // <alert Bootstrap>
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: 'success', texto: ''},
      titulo:'',
      usuario:{nombre:'',apellido:'',nombreUsuario:'',correo:'',password:'',role:'',cedula:'',image:''},
      editar:false,
      usuarioEdit:{},
      dataDismiss:null,

      headerBgVariant: 'primary',
      headerTextVariant:'light',
      bodyBgVariant:'light', 
    }
  },
  created(){
    this.listUsers();
  },
  methods:{
    listUsers(){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      this.axios.get('/usuarios',configuration)
       .then(res=>{
        this.users = res.data.usuarios;
       })
       .catch(err => {
         console.log(`Err ${err}`);
       })
    },
    onSelect(event){
      // this.file = this.$refs.inputFile.files[0];
      this.file = event.target.files[0];
      this.imagen = this.file;
    },
     addUser(){
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      // Para guardar la imagen con los demas campos del modelo, hay que pasarselos al append
      var formData = new FormData();
      formData.append("image",this.imagen);
      formData.append("nombre",this.usuario.nombre);
      formData.append("apellido",this.usuario.apellido);
      formData.append("nombreUsuario",this.usuario.nombreUsuario);
      formData.append("correo",this.usuario.correo);
      formData.append("password",this.usuario.password);
      formData.append("role",this.usuario.role);
      formData.append("cedula",this.usuario.cedula);
      
      this.axios.post('/user',formData,configuration/* this.usuario */)
       .then(res => {
         console.log(res.data.user
         
         );

         this.users.unshift(res.data.user);
         this.usuario.nombre = '';
         this.usuario.apellido = '';
         this.usuario.nombreUsuario = '';
         this.usuario.correo = '';
         this.usuario.password = '';
         this.usuario.role = '';
         this.usuario.estado = '';
         this.usuario.cedula = '';
         this.usuario.image = '';

         // Alert bootstrap
         this.mensaje.color = 'success';
         this.mensaje.texto = 'Usuario agregado :)';
         this.showAlert();
       })
       .catch(err => {
         console.log(`Error ${err}`);
          this.mensaje.color = 'danger';
          this.mensaje.texto = 'Datos requeridos';
          this.showAlert();
       })
    },
     activateEdition(id){
       // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

        this.editar = true;
         window.scrollTo(0,0)
        this.axios.get(`/usuario/${id}`,configuration)
         .then(res=>{
           this.usuarioEdit = res.data;
         })
         .catch(err=>{ 
           console.log(err.res);
         })
    },
    updateUser(usu){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      // this.axios.put(`/user/image/${usu._id}`,formData)
      this.axios.put(`/usuario/${usu._id}`,usu,configuration)
       .then(res=>{
         const index = this.users.findIndex(u => u._id === res.data._id)
         this.users[index].nombre = res.data.nombre;
         this.users[index].apellido = res.data.apellido;

          // RETURN users UPDATED
         this.listUsers();
         window.scrollTo(1000, 1000); 

         this.mensaje.color='success';
         this.mensaje.texto = 'Usuario actualizado exitosamente';
         this.showAlert();
         this.editar = false;
       })
       .catch(err=>{
         console.log(err.res);
       })
    },
      deleteUser(id){
      // Enviando el token en las rutas
      let header = {'Token':this.$store.state.token};
      let configuration = {headers : header};

      var x = confirm('DESEA ELMINAR EL EMPLEADO');
      if(x==false){
        alert('OK NO ELIMINARE EL EMPLEADO')
      }else{
        this.axios.delete(`usuario/${id}`,configuration)
          .then(res=>{
              let index = this.users.findIndex(item=>item._id === res.data._id)
              this.users.splice(index,1);
              // RETURN users UPDATED
              this.listUsers();
  
              this.mensaje.color='danger';
              this.mensaje.texto = 'Empleado eliminado...';
              this.showAlert();
           
          })
          .catch(err=>{
            console.log(`Error ${err}`);
          })
        
      }
    },
    // Function alert bootstrap
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
        this.dismissCountDown = this.dismissSecs
    },
    // MANIPULATE MODAL BOOTSTRAP VUE
    showModal() {
      this.$refs['my-modal'].show()
    },
    
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    showModal2() {
      this.$refs['my-modal2'].show()
    },
    
    hideModal2() {
      this.$refs['my-modal2'].hide()
    },
  }
}
</script>
<style scoped>
  .img-fluid{
    width:130px;
    height:130px;
  }
  .btnRegister{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    
  }
  .btnRegisterS{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px
  }
  .btnEdit,.btnCancel{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    border-radius:30px;
  }
  
</style>