<template>
  <div id="app">
    <!-- <b-navbar toggleable="lg" type="dark" variant="blue" style="background-color:rgb(2, 46, 90);" v-if="logueado"> -->
    <b-navbar toggleable="lg" type="dark" variant="blue" v-if="logueado" style="background-color:rgb(2, 46, 90);">
    <b-navbar-brand href="#">
      <!-- <img src="https://res.cloudinary.com/dqhme1rod/image/upload/v1622058076/americana/vz9ay9gxvjdrsyqtbxnf.jpg" alt="share" class="img-fluid imgTitle" /> -->
      Corporación Universitaria | Americana
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto navBarStyle" v-if="esAdmin || esUser">
         <b-nav-item :to="{ name: 'Home' }" exact-active >
          <span class="material-icons"> home </span>
           Home
        </b-nav-item>
        <b-nav-item :to="{ name: 'Loan' }" exact-active v-if="esAdmin">
          <span class="material-icons"> switch_account</span>
            Prestamo
        </b-nav-item>
        
        <!-- Tab Users -->
        <b-nav-item :to="{ name: 'User' }" exact-active v-if="esAdmin">
          <span class="material-icons"> switch_account</span>
            Empleados 
        </b-nav-item>

        <!-- Tab Equipments -->
        <b-nav-item :to="{ name: 'Equipment' }" exact-active v-if="esAdmin"> 
          <span class="material-icons">devices</span>
          Equipos
        </b-nav-item>
        <!-- Tab Company -->
        <b-nav-item :to="{ name: 'Company' }" exact-active v-if="esAdmin">
          <span class="material-icons">business</span>
          Empresa
        </b-nav-item>
        <!-- Tab Manager -->
        <b-nav-item :to="{ name: 'Manager' }" exact-active v-if="esAdmin">
          <span class="material-icons">6_ft_apart</span>
          Encargado
        </b-nav-item>
        <!-- Tab Area -->
        <b-nav-item :to="{ name: 'Area' }" exact-active v-if="esAdmin">
          <span class="material-icons">domain_disabled</span>
          Area
        </b-nav-item>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em class="navBarStyle">{{nameUserLogged.nameUser}}</em>
          </template>
          <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
          <b-dropdown-item class="navBarStyle">
            {{nameUserLogged.emailUser}}
          </b-dropdown-item>
          <b-dropdown-item v-if="logueado" @click="logOut()">
            cerrar-sesión
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <router-view />
  </div>
</template>

<script>
// import { mapActions, mapGetters } from 'vuex'
export default {
  name:'App',
  data(){
    return{
      userLogin:null 
    }
  },
  computed: {
    logueado(){
      return this.$store.state.user;
      
    },
    esAdmin(){
      return this.$store.state.user && this.$store.state.user.role == "ADMIN";

    },
    esUser(){
      return this.$store.state.user && this.$store.state.user.role == "USER";
    },
    nameUserLogged(){
      // name USER LOGGED
      let dataUser = {
        nameUser: this.$store.state.user.nombre,
        emailUser: this.$store.state.user.correo
      }
      return dataUser;
    },
  },
  created(){
     this.$store.dispatch('autoLogin'); 
  },
  methods:{
    logOut(){
      this.$store.dispatch("logOut");
    }
  }
  
}
</script>
<style scoped>
.imgTitle {
  height: 60px;
}
.navBarStyle{
  font-family: 'Anton', sans-serif;
}
/* .router-link-exact-active{
   color: #42b983; 
 } */
</style>

